# Set default behavior to automatically normalize line endings
* text=auto

# Java sources
*.java text
*.kt text
*.kts text
*.groovy text

# Android files
*.xml text
*.gradle text
*.properties text

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text
*.cpp text
*.hpp text

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
gradlew text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.jar binary
*.war binary
*.ear binary
*.zip binary
*.tar binary
*.gzip binary
*.ttf binary
*.otf binary

# Documents
*.md text
*.txt text
*.doc diff=astextplain
*.DOC diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.pdf diff=astextplain
*.PDF diff=astextplain
